<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Student Info</title>
    </head>
    <body>
        <span th:text="'Student name: ' + ${student.firstName} + ' ' + ${student.lastName}"/>
        <br>
        <span th:text="'Student country: ' + ${student.country}"/>
        <br>
        <span th:text="'Favorite Programming Language: ' + ${student.favoriteLanguage}"/>
        <br>
        <span th:text="'Favorite Operating System: '"/>
        <ul>
            <li th:each="tempOs: ${student.favoriteSystems}" th:text="${tempOs}"></li>
        </ul>
    </body>
</html>