<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringCoreDemoApplication" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="com.luv2code.springcoredemo.SpringCoreDemoApplication" />
    <module name="springcoredemo" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>